TicketClient/src/main/resources/haha.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://lmdestiny" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ticketService" targetNamespace="http://lmdestiny">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://lmdestiny" elementFormDefault="unqualified" targetNamespace="http://lmdestiny" version="1.0">
<xs:element name="addTicket" type="tns:addTicket"/>
<xs:element name="addTicketResponse" type="tns:addTicketResponse"/>
<xs:element name="find" type="tns:find"/>
<xs:element name="findAll" type="tns:findAll"/>
<xs:element name="findAllResponse" type="tns:findAllResponse"/>
<xs:element name="findResponse" type="tns:findResponse"/>
<xs:element name="findTicket1" type="tns:findTicket1"/>
<xs:element name="findTicket1Response" type="tns:findTicket1Response"/>
<xs:element name="findTicket2" type="tns:findTicket2"/>
<xs:element name="findTicket2Response" type="tns:findTicket2Response"/>
<xs:element name="pay" type="tns:pay"/>
<xs:element name="payResponse" type="tns:payResponse"/>
<xs:complexType name="findTicket1">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="tns:localDateTime"/>
<xs:element minOccurs="0" name="arg2" type="tns:localDateTime"/>
<xs:element minOccurs="0" name="arg3" type="xs:string"/>
<xs:element minOccurs="0" name="arg4" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="extension restriction" name="localDateTime">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="findTicket1Response">
<xs:sequence>
<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ticket"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ticket">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="entitys" nillable="true" type="tns:ticketEntity"/>
<xs:element minOccurs="0" name="plate" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ticketEntity">
<xs:sequence>
<xs:element name="countT">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="key" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="endC" type="xs:string"/>
<xs:element minOccurs="0" name="endT" type="tns:localDateTime"/>
<xs:element minOccurs="0" name="id" type="xs:int"/>
<xs:element minOccurs="0" name="startC" type="xs:string"/>
<xs:element minOccurs="0" name="startT" type="tns:localDateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="findTicket2">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="tns:localDateTime"/>
<xs:element minOccurs="0" name="arg3" type="tns:localDateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="findTicket2Response">
<xs:sequence>
<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ticket"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="find">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="findResponse">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="return" type="tns:ticket"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ticket"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addTicket">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:ticket"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addTicketResponse">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="return" type="tns:transResult"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="transResult">
<xs:sequence>
<xs:element minOccurs="0" name="data" type="xs:anyType"/>
<xs:element minOccurs="0" name="msg" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="pay">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:long"/>
<xs:element minOccurs="0" name="arg3" type="xs:string"/>
<xs:element minOccurs="0" name="arg4" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="payResponse">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="return" type="tns:transResult"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="findTicket1">
<wsdl:part element="tns:findTicket1" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="payResponse">
<wsdl:part element="tns:payResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="findTicket2">
<wsdl:part element="tns:findTicket2" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="find">
<wsdl:part element="tns:find" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="addTicketResponse">
<wsdl:part element="tns:addTicketResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="findTicket1Response">
<wsdl:part element="tns:findTicket1Response" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="findTicket2Response">
<wsdl:part element="tns:findTicket2Response" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="findAll">
<wsdl:part element="tns:findAll" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="addTicket">
<wsdl:part element="tns:addTicket" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="pay">
<wsdl:part element="tns:pay" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="findAllResponse">
<wsdl:part element="tns:findAllResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="findResponse">
<wsdl:part element="tns:findResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:portType name="ticketService">
<wsdl:operation name="findTicket1">
<wsdl:input message="tns:findTicket1" name="findTicket1"></wsdl:input>
<wsdl:output message="tns:findTicket1Response" name="findTicket1Response"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="findTicket2">
<wsdl:input message="tns:findTicket2" name="findTicket2"></wsdl:input>
<wsdl:output message="tns:findTicket2Response" name="findTicket2Response"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="find">
<wsdl:input message="tns:find" name="find"></wsdl:input>
<wsdl:output message="tns:findResponse" name="findResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="findAll">
<wsdl:input message="tns:findAll" name="findAll"></wsdl:input>
<wsdl:output message="tns:findAllResponse" name="findAllResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="addTicket">
<wsdl:input message="tns:addTicket" name="addTicket"></wsdl:input>
<wsdl:output message="tns:addTicketResponse" name="addTicketResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="pay">
<wsdl:input message="tns:pay" name="pay"></wsdl:input>
<wsdl:output message="tns:payResponse" name="payResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ticketServiceSoapBinding" type="tns:ticketService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="findTicket1">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="findTicket1">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="findTicket1Response">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="findTicket2">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="findTicket2">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="findTicket2Response">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="find">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="find">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="findResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="findAll">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="findAll">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="findAllResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="addTicket">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="addTicket">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="addTicketResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="pay">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="pay">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="payResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ticketService">
<wsdl:port binding="tns:ticketServiceSoapBinding" name="ticketServicePort">
<soap:address location="http://127.0.0.1:8080/webservice/ticketws"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>